{
  "env": {
    "jest": true,
    "es6": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
    "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "no-console": "off",
    "indent": ["error", 2]
  },
    "parserOptions": {
    "project": "./tsconfig.json"
  }
}
